<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name=".logout"/>
      <class name=".Attachments"/>
      <class name=".Job"/>
      <class name=".Login"/>
      <class name=".Immigration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
